/* button */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .15s;
    position: relative;
    font-size: 1.9rem;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
    background-color: #0892D0;
    color: white;
}

.btn--blue::after {
    background-color: #0892D0;
}

.btn--white {
    background-color: white;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-out;
}

.btn--animated {
    -webkit-animation: moveInFromBottom 1s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation: moveInFromBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

/* End of button */